<!DOCTYPE html>
<html>
<head>
    <title>Liste des infractions</title>
</head>
<body>
    <h1>Infractions </h1>
    <table>
        <thead>
            <tr>
                <th>Nature</th>
            </tr>
            <tr>
                <th>Résiliation</th>
            </tr>
            <tr>
                <th>Date d'inscription</th>
            </tr>
            <tr>
                <th>Amende</th>
            </tr>
            <tr>
                <th>Emprisonnement</th>
            </tr>
            <tr>
                <th>Id_exploitant</th>
            </tr>
        </thead>
        <tbody>
